<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575333395426-qf75ivpu0m89bald0eadtuaij4anoj82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575333395426-qf75ivpu0m89bald0eadtuaij4anoj82</string>
	<key>API_KEY</key>
	<string>AIzaSyDwq7QqLMJet2CXtOIcm5Nc875jRUgi0NA</string>
	<key>GCM_SENDER_ID</key>
	<string>575333395426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iBlessme.MPT-Parking</string>
	<key>PROJECT_ID</key>
	<string>mpt-parking-69780</string>
	<key>STORAGE_BUCKET</key>
	<string>mpt-parking-69780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575333395426:ios:e2d66feb6314dfd3e2a7bb</string>
</dict>
</plist>